[submodule "vim/vim/pathogen"]
	path = vim/vim/pathogen
	url = http://github.com/paulnicholson/vim-pathogen.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/snipmate"]
	path = vim/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
