[submodule "vim"]
	path = vim
	url = git@github.com:asheidan/Vimfiles.git
[submodule "zsh/zsh/zsh-history-substring-search"]
	path = zsh/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/zsh/zsh-syntax-highlighting"]
	path = zsh/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:asheidan/Emacsfiles.git
[submodule "zsh/zsh/zsh-autosuggestions"]
	path = zsh/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "tmux/plugins/tmux-fzf"]
	path = tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf.git
[submodule "tmux/plugins/tmux-mode-indicator"]
	path = tmux/plugins/tmux-mode-indicator
	url = https://github.com/MunifTanjim/tmux-mode-indicator.git
